<div class="card-body">
  <form [formGroup]="parentForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="mb-3 col-md-6">
        <label for="cin" class="form-label">CIN <span class="required-asterisk">*</span></label>
        <input class="form-control" type="text" id="cin" formControlName="cin" required />
        <div class="text-danger" *ngIf="parentForm.get('cin')!.invalid && (parentForm.get('cin')!.dirty || parentForm.get('cin')!.touched)">
          <div *ngIf="parentForm.get('cin')!.errors?.['required']">This field is required.</div>
          <div *ngIf="parentForm.get('cin')!.errors?.['pattern']">Invalid CIN format.</div>
        </div>
        <div class="text-danger" *ngIf="cinExistsMessage">{{ cinExistsMessage }}</div>
      </div>
      <div class="mb-3 col-md-6">
        <label for="firstName" class="form-label">Parent First Name <span class="required-asterisk">*</span></label>
        <input class="form-control" type="text" id="firstName" formControlName="firstName" autofocus required />
        <div class="text-danger" *ngIf="parentForm.get('firstName')!.invalid && (parentForm.get('firstName')!.dirty || parentForm.get('firstName')!.touched)">
          <div *ngIf="parentForm.get('firstName')!.errors?.['required']">This field is required.</div>
          <div *ngIf="parentForm.get('firstName')!.errors?.['pattern']">Invalid format. Only letters are allowed.</div>
        </div>
      </div>
      <div class="mb-3 col-md-6">
        <label for="lastName" class="form-label">Parent Last Name <span class="required-asterisk">*</span></label>
        <input class="form-control" type="text" id="lastName" formControlName="lastName" required />
        <div class="text-danger" *ngIf="parentForm.get('lastName')!.invalid && (parentForm.get('lastName')!.dirty || parentForm.get('lastName')!.touched)">
          <div *ngIf="parentForm.get('lastName')!.errors?.['required']">This field is required.</div>
          <div *ngIf="parentForm.get('lastName')!.errors?.['pattern']">Invalid format. Only letters are allowed.</div>
        </div>
      </div>
      <div class="mb-3 col-md-6">
        <label for="email" class="form-label">Parent E-mail <span class="required-asterisk">*</span></label>
        <input class="form-control" type="text" id="email" formControlName="email" required />
        <div class="text-danger" *ngIf="parentForm.get('email')!.invalid && (parentForm.get('email')!.dirty || parentForm.get('email')!.touched)">
          <div *ngIf="parentForm.get('email')!.errors?.['required']">This field is required.</div>
          <div *ngIf="parentForm.get('email')!.errors?.['email']">Invalid email format.</div>
        </div>
        <div class="text-danger" *ngIf="emailExistsMessage">{{ emailExistsMessage }}</div>
      </div>
      <div class="mb-3 col-md-6">
        <label class="form-label" for="phone">Parent Phone Number <span class="required-asterisk">*</span></label>
        <div class="input-group input-group-merge">
          <span class="input-group-text">+212</span>
          <input type="text" id="phone" formControlName="phone" class="form-control" required />
          <div class="text-danger" *ngIf="parentForm.get('phone')!.invalid && (parentForm.get('phone')!.dirty || parentForm.get('phone')!.touched)">
            <div *ngIf="parentForm.get('phone')!.errors?.['required']">This field is required.</div>
            <div *ngIf="parentForm.get('phone')!.errors?.['pattern']">Invalid format. Only 10 digits are allowed.</div>
          </div>
        </div>
        <div class="text-danger" *ngIf="phoneExistsMessage">{{ phoneExistsMessage }}</div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="button" class="btn btn-outline-secondary" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
