<div class="modal-dialog modal-dialog-centered container" id="viewTeacherModal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">View Teacher</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="teacher; else noTeacher">
          <p><strong>Full Name:</strong> {{ teacher.fullName }}</p>
          <p><strong>Email:</strong> {{ teacher.email }}</p>
          <p><strong>Phone Number:</strong> {{ teacher.phoneNo }}</p>
        </div>
        <ng-template #noTeacher>
          <p>No teacher information available.</p>
        </ng-template>
      </div>
      