.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    max-width: 900px;
    width: 30rem;
    margin: 0 auto;
  }
  
  .card-header {
    background-color: #f8f9fa;
  }
  
  .card-footer {
    background-color: #f8f9fa;
  }
  