<div class="card mx-4 my-3">
  <div class="container d-flex justify-content-between align-items-center mb-3">
    <h5 class="card-header mb-0">Students List</h5>
    <div class="mb-0">
      <div class="input-group input-group-merge custom-width" >
        <span class="input-group-text" id="basic-addon-search31"><i class="bx bx-search small-icon"></i></span>
        <input
          type="text"
          class="form-control small-placeholder "
          placeholder="Search..."
          [(ngModel)]="searchTerm" (ngModelChange)="applyFilter()"
        />
      </div>
    </div>
    <button type="button" class="btn btn-outline-primary" (click)="openInscriptionModal()">Add Student</button>
  </div>
  
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Class</th>
          <th>Actions</th>
        </tr>        
      </thead>
      <tbody class="table-border-bottom-0">
        <tr *ngFor="let student of filteredStudent">
          <td>{{ student.id }}</td>
          <td [innerHTML]="highlightSearch(student.lastName)"></td>
          <td>{{ student.firstName }}</td>
          <td>{{ student.className }}</td>
          <td>
            <div class="d-flex align-items-center">
              <a href="javascript:void(0);" class="text-info me-2" (click)="viewStudent(student)"><i class="bx bx-show"></i></a>
              <a href="javascript:void(0);" class="text-warning me-2" (click)="editStudent(student)"><i class="bx bx-edit-alt"></i></a>
              <a href="javascript:void(0);" class="text-danger" (click)="deleteStudent(student.id)"><i class="bx bx-trash"></i></a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center pe-3 my-3">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item first" [class.disabled]="currentPage === 0">
            <a class="page-link" href="javascript:void(0);" (click)="gotoFirstPage()">
              <i class="tf-icon bx bx-chevrons-left"></i>
            </a>
          </li>
          <li class="page-item prev" [class.disabled]="currentPage === 0">
            <a class="page-link" href="javascript:void(0);" (click)="prevPage()">
              <i class="tf-icon bx bx-chevron-left"></i>
            </a>
          </li>
          <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="i === currentPage">
            <a class="page-link" href="javascript:void(0);" (click)="loadStudents(i)">{{ i + 1 }}</a>
          </li>
          <li class="page-item next" [class.disabled]="currentPage === totalPages - 1">
            <a class="page-link" href="javascript:void(0);" (click)="nextPage()">
              <i class="tf-icon bx bx-chevron-right"></i>
            </a>
          </li>
          <li class="page-item last" [class.disabled]="currentPage === totalPages - 1">
            <a class="page-link" href="javascript:void(0);" (click)="gotoLastPage()">
              <i class="tf-icon bx bx-chevrons-right"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
