<div class="card">
    <div class="card-header">
      <h4>Enter Reason</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="reasonForm">
        <div class="row">
          <div *ngIf="data.absenceChecked" class="mb-3 col-md-8">
            <label for="absenceReason" class="form-label">Absence Reason <span class="required-asterisk">*</span></label>
            <input class="form-control" type="text" id="absenceReason" formControlName="absenceReason"/>
          </div>
          <div *ngIf="data.retardChecked" class="mb-3 col-md-8">
            <label for="tardinessReason" class="form-label">Tardiness Reason <span class="required-asterisk">*</span></label>
            <input class="form-control" type="text" id="tardinessReason" formControlName="tardinessReason" required />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="saveReasons()" class="btn btn-primary">Save</button>
        </div>
      </form>
      <!--<form [formGroup]="reasonForm">
        <div *ngIf="data.absenceChecked">
          <label for="absenceReason">Absence Reason</label>
          <textarea id="absenceReason" formControlName="absenceReason"></textarea>
        </div>
      
        <div *ngIf="data.retardChecked">
          <label for="tardinessReason">Tardiness Reason</label>
          <textarea id="tardinessReason" formControlName="tardinessReason"></textarea>
        </div>
      
        <button type="button" (click)="saveReasons()" class="btn btn-primary">Save</button>
      </form>-->
      
    </div>
  </div>
  