<section class="py-4 ">
    <div class="container-xxl flex-grow-1 container-p-y" >
      <div class="card mb-4">
        <div class="container d-flex justify-content-between align-items-center mb-3" >
            <h5 class="card-header mb-0 " >Enseignants</h5>
            <button  type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#basicModal"  >Nouveau</button>
            
        </div>
        
            <ssi-sx-add-teacher class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true"> </ssi-sx-add-teacher>
        
        <div class="table-responsive text-nowrap">
          <table class="table ">
            <thead class="table-light border">
              <tr>
                <th>Nom Complet</th>
                <th>Email</th>
                <th>Numero De Telephone</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                <tr *ngFor="let teacher of teachers">
                    <td>{{ teacher.fullName }}</td>
                    <td>{{ teacher.email }}</td>
                    <td>{{ teacher.phoneNo }}</td>
                    <td>
                        <a href="javascript:void(0);" class="text-info me-2"><i class="bx bx-show"></i></a>
                        <a href="javascript:void(0);" class="text-warning me-2"><i class="bx bx-edit-alt"></i></a>
                        <a href="javascript:void(0);" class="text-danger"><i class="bx bx-trash"></i></a>
                    </td>
                  </tr>
             
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
    <nav aria-label="Page navigation" class="d-flex justify-content-center mt-4">
      <ul class="pagination">
        <li class="page-item first">
          <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-left"></i></a>
        </li>
        <li class="page-item prev">
          <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-left"></i></a>
        </li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
        <li class="page-item active"><a class="page-link" href="javascript:void(0);">3</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">4</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">5</a></li>
        <li class="page-item next">
          <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-right"></i></a>
        </li>
        <li class="page-item last">
          <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-right"></i></a>
        </li>
      </ul>
    </nav>
  </section>
