<div class="card p-3 m-3 ">
  <div class="container d-flex justify-content-between align-items-center mb-3">
    <h5 class="card-header mb-0">Certificats Managment</h5>
    <div class="row">
      <div class="input-group input-group-merge custom-width col-sm" >
        <span class="input-group-text" id="basic-addon-search31"><i class="bx bx-search small-icon"></i></span>
        <input
          type="text"
          class="form-control small-placeholder "
          placeholder="Search..."
          (input)="onSearchTermChange($event)"
        />
      </div>
    <div class="input-group col-sm">
      <label class="input-group-text" for="inputGroupSelect01">Classe</label>
      <select class="select2 form-select" (change)="onClassSelected($event)" id="inputGroupSelect01">
        <option *ngFor="let classe of classes" [value]="classe.id">{{ classe.name }}</option>
      </select>
    </div>
  </div>
  </div>


  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
      <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Scolar Certif</th>
      </tr>
      </thead>
      <tbody class="table-border-bottom-0">
      <tr *ngFor="let student of visibleData">
        <td>{{student.firstName}}</td>
        <td>{{student.lastName}}</td>
        <td>{{student.email}}</td>
        <td><button class="btn btn-icon btn-primary" (click)="generateScolarCertificat(student)"><i class="bx bxs-file-doc"></i></button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<nav aria-label="Page navigation" class="d-flex justify-content-center mt-4">
  <ul class="pagination">
    <li class="page-item first">
      <a class="page-link" (click)="prevPage()" ><i class="tf-icon bx bx-chevrons-left"></i></a>
    </li>
    <li class="page-item"><a class="page-link" >{{currentPage}}</a></li>
    <li class="page-item next">
      <a class="page-link" (click)="nextPage()" ><i class="tf-icon bx bx-chevrons-right"></i></a>
    </li>
  </ul>
</nav>

