<!-- Update User Component -->
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="userForm" (ngSubmit)="updateUser()">
          <div class="mb-3">
            <label class="form-label" for="basic-default-fullname">Username</label>
            <input type="text" class="form-control" id="basic-default-fullname" placeholder="Enter username" formControlName="username"/>
            <div *ngIf="userForm.get('username')?.touched && userForm.get('username')?.invalid" class="text-danger">
              Username is required.
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <div class="input-group input-group-merge">
              <input
                type="password"
                id="password"
                class="form-control"
                name="password"
                placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                aria-describedby="password"
                formControlName="password"
              />
              <span class="input-group-text cursor-pointer" (click)="togglePasswordVisibility()">
                <i class="bx bx-show"></i>
              </span>
            </div>
            <div *ngIf="userForm.get('password')?.touched && userForm.get('password')?.invalid" class="text-danger">
              <div *ngIf="userForm.get('password')?.errors?.['required']">Password is required.</div>
              <div *ngIf="userForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters long.</div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="basic-default-email">Email</label>
            <div class="input-group input-group-merge">
              <input
                type="email"
                id="basic-default-email"
                class="form-control"
                placeholder="Enter email"
                aria-label="Enter email"
                aria-describedby="basic-default-email2"
                formControlName="email"
              />
              <span class="input-group-text" id="basic-default-email2">&#64;example.com</span>
            </div>
            <div *ngIf="userForm.get('email')?.touched && userForm.get('email')?.invalid" class="text-danger">
                <div *ngIf="userForm.get('email')?.errors?.['email']">Invalid email format.</div>
            </div>
            <div class="form-text">You can use letters, numbers & periods</div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlSelect1" class="form-label">Role</label>
            <select class="form-select" id="exampleFormControlSelect1" aria-label="Select role" formControlName="role">
              <option value="" selected>Select role</option>
              <option *ngFor="let role of Roles | keyvalue" [value]="role.value">{{role.value}}</option>
            </select>
            <div *ngIf="userForm.get('role')?.touched && userForm.get('role')?.invalid" class="text-danger">
              Role is required.
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" (click)="updateUser()">Save</button>
      </div>
    </div>
  </div>
  