<!-- Menu -->
<div class="app-brand demo">
  <a href="index.html" class="app-brand-link">
    <span class="app-brand-logo demo">
      <img src="../../../..//public/assets/img/norsys.jpg" class="brand-logo">
    </span>
    <span class="app-brand-text menu-text fw-bolder ms-2">TechnoMakers</span>
  </a>

  <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
    <i class="bx bx-chevron-left bx-sm align-middle"></i>
  </a>
</div>

<div class="menu-inner-shadow"></div>

<ul class="menu-inner py-1">
  <!-- Dashboard -->
  <li class="menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a class="menu-link" routerLink="/">
      <i class="menu-icon tf-icons bx bx-home-circle"></i>
      <div data-i18n="Analytics">Dashboard</div>
    </a>
  </li>
   <li class="menu-item"  routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
    <a  class="menu-link" routerLink="/manage-users">
      <i class="menu-icon tf-icons bx bx-user"></i>
      <div data-i18n="Layouts">Manage users</div>
    </a>
  </li>
   <!-- Espace Informations -->
   <li class="menu-header small text-uppercase" style="font-size: 12px;">
    <span class="menu-header-text">Espace Informations</span>
  </li>
  <li class="menu-item">
    <a href="javascript:void(0);" class="menu-link">
      <i class="menu-icon tf-icons bx bx-user-pin"></i>
      <div data-i18n="Students">Eleves</div>
    </a>
  </li>
  <li class="menu-item">
    <a href="javascript:void(0);" class="menu-link">
      <i class="menu-icon tf-icons bx bx-group"></i>
      <div data-i18n="Parents">Parents</div>
    </a>
  </li>
  <li class="menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a class="menu-link" routerLink="/listTeacher">
      <i class="menu-icon tf-icons bx bx-briefcase"></i>
      <div data-i18n="Teachers">Enseignants</div>
    </a>
  </li>

  <!-- Espace Ressources -->
  <li class="menu-header small text-uppercase">
    <span class="menu-header-text">Espace Ressources</span>
  </li>
  <li class="menu-item">
    <a href="javascript:void(0);" class="menu-link">
      <i class="menu-icon tf-icons bx bxs-id-card"></i>
      <div data-i18n="Employees">Personnel</div>
    </a>
  </li>
  <li class="menu-item">
    <a href="javascript:void(0);" class="menu-link menu-toggle">
      <i class="menu-icon tf-icons bx bx-package"></i>
      <div data-i18n="Material">Materiel</div>
    </a>
  </li>

  <!-- Espace Scolaire -->
  <li class="menu-header small text-uppercase">
    <span class="menu-header-text">Espace Scolaire</span>
  </li>
  <li class="menu-item">
    <a href="javascript:void(0);" class="menu-link">
      <i class="menu-icon tf-icons bx bx-calendar"></i>
      <div data-i18n="Sessions & TimeTable">Séances & Emplois</div>
    </a>
  </li>
  <li class="menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a class="menu-link" routerLink="/class">
      <i class="menu-icon tf-icons bx bx-sitemap"></i>
      <div data-i18n="Classes">Classes</div>
    </a>
  </li>
  <li class="menu-item">
    <a href="javascript:void(0);" class="menu-link">
      <i class="menu-icon tf-icons bx bx-certification"></i>
      <div data-i18n="Certifications">Certificats</div>
    </a>
  </li>
  <li class="menu-item">
    <a href="javascript:void(0);" class="menu-link">
      <i class="menu-icon tf-icons bx bx-user-minus"></i>
      <div data-i18n="Absences & Tardiness">Absences & Retards</div>
    </a>
  </li>
</ul>
<!-- / Menu -->
