<!-- Menu -->
<div class="app-brand demo">
  <a href="index.html" class="app-brand-link">
    <span class="app-brand-logo demo">
      <img src="../../../..//public/assets/img/norsys.jpg" class="brand-logo">
    </span>
    <span class="app-brand-text menu-text fw-bolder ms-2">TechnoMakers</span>
  </a>

  <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
    <i class="bx bx-chevron-left bx-sm align-middle"></i>
  </a>
</div>

<div class="menu-inner-shadow"></div>
<!-- Menu admin -->
<ul *ngIf="isAdmin" class="menu-inner py-1">
  <!-- Dashboard -->
  <li class="menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a class="menu-link" routerLink="/">
      <i class="menu-icon tf-icons bx bx-home-circle"></i>
      <div data-i18n="Analytics">Dashboard</div>
    </a>
  </li>
   <li class="menu-item"  routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
    <a  class="menu-link" routerLink="/manage-users">
      <i class="menu-icon tf-icons bx bx-user"></i>
      <div data-i18n="Layouts">Manage users</div>
    </a>
  </li>
   <!-- Espace Informations -->
   <li class="menu-header small text-uppercase" style="font-size: 12px;">
    <span class="menu-header-text">Information Space</span>
  </li>
  <li class="menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
    <a routerLink="/student" href="javascript:void(0);" class="menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
      <i class="menu-icon tf-icons bx bx-user-pin"></i>
      <div data-i18n="Students">Students</div>
    </a>
  </li>
  <li class="menu-item"routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
    <a routerLink="/parent" href="javascript:void(0);" class="menu-link">
      <i class="menu-icon tf-icons bx bx-group"></i>
      <div data-i18n="Parents">Parents</div>
    </a>
  </li>
  <li class="menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a class="menu-link" routerLink="/listTeacher">
      <i class="menu-icon tf-icons bx bx-briefcase"></i>
      <div data-i18n="Teachers">Teachers</div>
    </a>
  </li>

  <!-- Espace Ressources -->
  <li class="menu-header small text-uppercase">
    <span class="menu-header-text">Resource Space</span>
  </li>
  <li class="menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a href="javascript:void(0);" class="menu-link menu-toggle" routerLink="staff">
      <i class="menu-icon tf-icons bx bx-dock-top"></i>
      <div data-i18n="Account Settings">Staff Management</div>
    </a>
  </li>
  <li class="menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a href="javascript:void(0);" class="menu-link menu-toggle" routerLink="/room">
      <i class="menu-icon tf-icons bx bx-building"></i>
      <div data-i18n="Material">Room</div>
    </a>
  </li>
  <li class="menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a href="javascript:void(0);" class="menu-link menu-toggle" routerLink="/materiel">
      <i class="menu-icon tf-icons bx bx-package"></i>
      <div data-i18n="Material">Materiel</div>
    </a>
  </li>


  <!-- Espace Scolaire -->
  <li class="menu-header small text-uppercase">
    <span class="menu-header-text">School Space</span>
  </li>
  <li class="menu-item">
    <a href="javascript:void(0);" class="menu-link">
      <i class="menu-icon tf-icons bx bx-calendar"></i>
      <div data-i18n="Sessions & TimeTable">Sessions & Timetable</div>
    </a>
  </li>
  <li class="menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a class="menu-link" routerLink="/class">
      <i class="menu-icon tf-icons bx bx-sitemap"></i>
      <div data-i18n="Classes">Classes</div>
    </a>
  </li>
  <li class="menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/certificats" href="javascript:void(0);" class="menu-link">
      <i class="menu-icon tf-icons bx bx-certification"></i>
      <div data-i18n="Certifications">Certifications</div>
    </a>
  </li>
  <li class="menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
    <a routerLink="/abscencesRetards" href="javascript:void(0);" class="menu-link">
      <i class="menu-icon tf-icons bx bx-user-minus"></i>
      <div data-i18n="Absences & Tardiness">Absences & Tardiness</div>
    </a>
  </li>
</ul>

<!-- / Menu admin-->
 <!-- Menu parent-->
<ul *ngIf="isParent" class="menu-inner py-1">
  <li class="menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a class="menu-link" routerLink="/">
      <i class="menu-icon tf-icons bx bx-home-circle"></i>
      <div data-i18n="Analytics">Description Ecole</div>
    </a>
  </li>
  <li class="menu-header small text-uppercase">
    <span class="menu-header-text">Espace Etudiant</span>
  </li>
  <li class="menu-item">
    <a href="javascript:void(0);" class="menu-link">
      <i class="menu-icon tf-icons bx bx-calendar"></i>
      <div data-i18n="Sessions & TimeTable">Séances & Emplois</div>
    </a>
  </li>
  <li class="menu-item">
    <a href="javascript:void(0);" class="menu-link">
      <i class="menu-icon tf-icons bx bx-certification"></i>
      <div data-i18n="Certifications">Notes</div>
    </a>
  </li>
  <li class="menu-item">
    <a href="javascript:void(0);" class="menu-link">
      <i class="menu-icon tf-icons bx bx-user-pin"></i>
      <div data-i18n="Remarques">Remarques</div>
    </a>
  </li>
  <li class="menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
    <a href="javascript:void(0);" class="menu-link">
      <i class="menu-icon tf-icons bx bx-user-minus"></i>
      <div data-i18n="Absences & Tardiness">Absences & Retards</div>
    </a>
  </li>
</ul>

<!-- / Menu parent-->

