.app-brand-logo.demo .brand-logo {
    height: 80px;
    width: auto;
  }
  
  .app-brand-text.menu-text {
    font-size: 15px;
  }
  
  .menu-header.small.text-uppercase {
    font-size: 12px;
  }
  