<div class="card class-global" >
  <div class="d-flex justify-content-between align-items-center mb-2 sub-container">
    <div class="col-auto manage" >
      <h6 class="card-header mb-0 small-header">Class Management</h6>
    </div>
    <div class="input-group input-group-merge custom-width" >
      <span class="input-group-text" id="basic-addon-search31"><i class="bx bx-search small-icon"></i></span>
      <input
        type="text"
        class="form-control small-placeholder "
        placeholder="Search..."
        [(ngModel)]="searchTerm" (ngModelChange)="applyFilter()"
      />
    </div>
    <div class="col text-end">
      <button type="button" class="btn text-white add"  (click)="openAddClassDialog()">Add</button>
    </div>
  </div>
</div>

<div class="card class">
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead >
        <tr>
          <th>Class Name</th>
          <th>Students</th>
          <th>All Teachers</th>
          <th>All Students</th>
          <th>Schedule</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        <tr *ngFor="let classItem of paginatedClasses">
          <td [innerHTML]="highlightSearch(classItem.name)"></td>
          <td>{{ classItem.nbOfStudents }}</td>
          <td><button class="btn"><i class="bx bx-show"></i></button></td>
          <td><button class="btn"><i class="bx bx-show"></i></button></td>
          <td><button class="btn"><i class="bx bx-calendar bx-tada"></i></button></td>
          <td>
            <div class="d-flex align-items-center">
              <button class="btn" (click)="openEditClassDialog(classItem)"><i class="bx bx-edit-alt"></i></button>
              <button class="btn" (click)="deleteClass(classItem.id)"><i class="bx bx-trash"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<nav class="paginator-nav">
  <mat-paginator [length]="filteredClasses.length"
                 [pageSize]="5"
                 (page)="onPageChange($event)">
  </mat-paginator>
</nav>
