.timetable-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .selection-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .selection-container label {
    margin-right: 10px;
  }
  
  .timetable-display {
    margin-top: 20px;
  }
  
  .timetable-display table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .timetable-display th, 
  .timetable-display td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .timetable-display th {
    background-color: #f2f2f2;
  }
  
  .dayweek{
    background-color: lightblue;
    color: black;
    font-style: bold;
  }