<div class="modal-dialog modal-dialog-centered bg-white">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Add Staff Member</h5>
    </div>
    <div class="modal-body">
    <form  class="row g-3 needs-validation" id="formAccountSettings" method="POST" onsubmit="return false" [formGroup]="staffForm">
      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="firstName" class="form-label">First Name<span class="required-asterisk">*</span></label>
          <input class="form-control" type="text" id="firstName" name="firstName" value="John" autofocus formControlName="firstName"/>
          <div class="text-danger" *ngIf="staffForm.controls['firstName'].invalid && (isFormSubmitted || staffForm.controls['firstName'].touched || staffForm.controls['firstName'].dirty)">
            <span *ngIf="staffForm.controls['firstName'].errors?.['required']">This Is Required</span>
          </div>
        </div>
        <div class="mb-3 col-md-6">
          <label for="lastName" class="form-label">Last Name<span class="required-asterisk">*</span></label>
          <input class="form-control" type="text" name="lastName" id="lastName" value="Doe" formControlName="lastName" />
          <div class="text-danger" *ngIf="staffForm.controls['lastName'].invalid && ( isFormSubmitted || staffForm.controls['lastName'].touched || staffForm.controls['lastName'].dirty)">
            <span *ngIf="staffForm.controls['lastName'].errors?.['required']">This Is Required</span>
          </div>
        </div>
        <div class="mb-3 col-md-6">
          <label for="email" class="form-label">E-mail<span class="required-asterisk">*</span></label>
          <input class="form-control" type="text" id="email" name="email" placeholder="john.doe@example.com" formControlName="email"/>
          <div class="text-danger" *ngIf="staffForm.controls['email'].invalid && (isFormSubmitted ||  staffForm.controls['email'].touched || staffForm.controls['email'].dirty)">
            <span *ngIf="staffForm.controls['email'].errors?.['required']">This Is Required</span>
            <span *ngIf="staffForm.controls['email'].errors?.['email']">Email Is Not Proper</span>
          </div>
        </div>
        <div class="mb-3 col-md-6">
          <label class="form-label" for="phoneNumber">Phone Number<span class="required-asterisk">*</span></label>
          <div class="input-group input-group-merge">
            <span class="input-group-text">MOR (+212)</span>
            <input type="text" id="phoneNumber" name="phoneNumber" class="form-control"  maxlength="9" placeholder="6 20 25 55 01 " formControlName="phoneNumber"/>
          </div>
          <div class="text-danger" *ngIf="staffForm.controls['phoneNumber'].invalid && ( isFormSubmitted || staffForm.controls['phoneNumber'].touched || staffForm.controls['phoneNumber'].dirty)">
            <span *ngIf="staffForm.controls['phoneNumber'].errors?.['required']">This Is Required</span>
            <span *ngIf="staffForm.controls['phoneNumber'].errors?.['minlength']">9 Characters Required</span>
          </div>
        </div>
        <div class="mb-3 col-md-6">
          <label for="address" class="form-label">Address<span class="required-asterisk">*</span></label>
          <input type="text" class="form-control" id="address" name="address" placeholder="Address" formControlName="address"/>
          <div class="text-danger" *ngIf="staffForm.controls['address'].invalid && (isFormSubmitted ||  staffForm.controls['address'].touched || staffForm.controls['address'].dirty)">
            <span *ngIf="staffForm.controls['address'].errors?.['required']">This Is Required</span>
          </div>
        </div>
        <div class="mb-3 col-md-6">
          <label for="state" class="form-label">CIN <span class="required-asterisk">*</span></label>
          <input class="form-control" type="text" id="state" name="state" placeholder="EC6788" formControlName="cin" />
          <div class="text-danger" *ngIf="staffForm.controls['cin'].invalid && (isFormSubmitted ||  staffForm.controls['cin'].touched || staffForm.controls['cin'].dirty)">
            <span *ngIf="staffForm.controls['cin'].errors?.['required']">This Is Required</span>
          </div>
        </div>
        <div class="mb-3 col-md-6">
          <label class="form-label" for="country">POSITION <span class="required-asterisk">*</span></label>
          <select id="country" class="select2 form-select" formControlName="position">
            <option value="">Select</option>
            <option value="TEACHER">Teacher</option>
            <option value="ASSISTANT">Assistant</option>
            <option value="CLEANER">Cleaner</option>
            <option value="SECURITY_OFFICER">Security Officer</option>
            <div class="text-danger" *ngIf="staffForm.controls['position'].invalid && ( isFormSubmitted || staffForm.controls['position'].touched || staffForm.controls['position'].dirty)">
              <span *ngIf="staffForm.controls['position'].errors?.['required']">This Is Required</span>
            </div>
          </select>
        </div>
        <div class="mb-3 col-md-6">
          <label for="language" class="form-label">Gender <span class="required-asterisk">*</span></label>
          <select id="language" class="select2 form-select" formControlName="gender">
            <option value="">Select</option>
            <option value="MALE">Male</option>
            <option value="FEMALE">Female</option>
            <div class="text-danger" *ngIf="staffForm.controls['gender'].invalid && (isFormSubmitted ||  staffForm.controls['gender'].touched || staffForm.controls['gender'].dirty)">
              <span *ngIf="staffForm.controls['gender'].errors?.['required']">This Is Required</span>
            </div>
          </select>
        </div>
        <div class="mb-3 col-md-6">
          <label for="dob" class="form-label">DATE OF BIRTH <span class="required-asterisk">*</span></label>
          <input type="date" class="form-control" id="dob" name="dob" placeholder="DATE OF BIRTH" formControlName="dateOfBirth"/>
          <div class="text-danger" *ngIf="staffForm.controls['dateOfBirth'].invalid && ( isFormSubmitted || staffForm.controls['dateOfBirth'].touched || staffForm.controls['dateOfBirth'].dirty)">
            <span *ngIf="staffForm.controls['dateOfBirth'].errors?.['required']">This Is Required</span>
          </div>
        </div>
        <div class="mb-3 col-md-6">
          <label for="start-date" class="form-label">START DATE <span class="required-asterisk">*</span></label>
          <input type="date" class="form-control" id="start-date" name="start-date" placeholder="START DATE" formControlName="startDate"/>
          <div class="text-danger" *ngIf="staffForm.controls['startDate'].invalid && (isFormSubmitted ||  staffForm.controls['startDate'].touched || staffForm.controls['startDate'].dirty)">
            <span *ngIf="staffForm.controls['startDate'].errors?.['required']">This Is Required</span>
          </div>
        </div>
      </div>
      <div class="mb-3 col-md-6">
        <label for="departement" class="form-label">Department<span class="required-asterisk">*</span></label>
        <select id="departement" class="select2 form-select" formControlName="department">
          <option value="">Select</option>
          <option value="SCIENCE">Science Department</option>
          <option value="FINANCE">Finance Office</option>
          <option value="IT">IT Department</option>
          <option value="PHYSICS">PC Department</option>
          <option value="HR">HR Department</option>
          <div class="text-danger" *ngIf="staffForm.controls['department'].invalid && ( isFormSubmitted || staffForm.controls['department'].touched || staffForm.controls['department'].dirty)">
            <span *ngIf="staffForm.controls['department'].errors?.['required']">This Is Required</span>
          </div>
        </select>
      </div>
      <div class="mt-2">
        <button  type="submit" data-bs-dismiss="modal"  (click)="addStaffMember()" class="btn btn-primary me-2">Add</button>
        <button type="reset" data-bs-dismiss="modal"  class="btn btn-outline-secondary">Cancel</button>
      </div>
    </form>
  </div>
</div>


